# Terraform
.terraform/
.terraform.lock.hcl.backup
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars

# Terraform crash logs
crash.log

# OS files
.DS_Store
Thumbs.db

# Sensitive PKI files 
*.pem
*.csr
*.cnf
certs/
*root*
*subordinate*
*chain*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
venv/
.env/
.venv/


# AWS CLI local artifacts
*.pem
*.crt
*.csr
*.json
*.key

# Device certs (local only)
device.key
device.crt
device.json

# OS junk
.DS_Store
Thumbs.db
